body {
    height: 400px;
    width: 300px;
}

.container {
    background-color: #915d3c;
    border-radius: 25px;
    border: 2px solid #000;
    padding: 10px;
}

.logo-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.logo-img {
  height: 30px;
}

/* The switch - the box around the slider */
.switch {
    font-size: 14px;
    position: relative;
    display: inline-block;
    width: 3em;
    height: 1.5em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border: 1px solid #adb5bd;
    transition: .4s;
    border-radius: 30px;
}

.toggle-button {
    padding: 7px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 0.9em;
    width: 0.9em;
    border-radius: 20px;
    left: 0.27em;
    bottom: 0.25em;
    background-color: #adb5bd;
    transition: .4s;
}

input:checked + .slider {
    background-color: #633b34;
    border: 1px solid #633b34;
}

input:focus + .slider {
    box-shadow: 0 0 1px #633b34;
}

input:checked + .slider:before {
    transform: translateX(1.4em);
    background-color: #fff;
} 

.toggle-button {
    padding: 7px;
    display: flex;
    align-items: center;
    gap: 10px; /* razmak između teksta i dugmeta */
}
  
.toggle-label {
    font-size: 14px;
    color: #fff;
}
  
.color-picker-section {
    padding-left: 7px;
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.color-label {
    font-size: 14px;
    color: #fff;
}
  
.color-picker {
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
    background: none;
    cursor: pointer;
}
  